.homecard {
  margin: 0 1.2rem;
  width: 360px;
  flex-shrink: 0;
}

.homecard > div:first-of-type {
  position: relative;
}

.card__thumbnail {
  object-fit: cover;
  border-radius: 10px;
  width: 360px;
  height: 20rem;
}
.homecard .card__icon > div:first-of-type {
  background-color: var(--redlike);
  color: white;
  border: 3px solid white;
  position: absolute;
  top: 0;
  left: -22px;
  padding: 8px 11px;
  border-radius: 50%;
  font-size: 16px;
  z-index: 50;
}
.homecard .card__icon > div:nth-child(2) {
  color: var(--redlike);

  position: absolute;
  top: 25px;
  left: -22px;
  padding: 8px 11px;
  font-size: 30px;
  z-index: 49;
}
.homecard .card__icon > div:last-child {
  background-color: white;
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 15px 20px;
  border-radius: 50%;
  font-size: 24px;
  color: var(--redlike);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.homecard .card__icon > div:last-child:hover {
  background-color: var(--redlike);
  color: white;
  cursor: pointer;
  transition: 0.4s;
}
.favActive {
  background-color: black;
  color: var(--redlike);
}

.card__name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.tag {
  width: 2rem;
  margin-right: 4px;
}
.card__name--title {
  line-height: 1.5em;
  font-weight: 700;
  font-size: 1.25rem;
  transition-duration: 200ms;
  color: var(--green);
}
.card__name--title:hover {
  color: var(--hovergreen);
  cursor: pointer;
}
.card__address {
  color: var(--lightgrey);
  font-size: 1.1rem;
  font-weight: 700;
}
.card__ratings {
  color: var(--yellow);
  font-weight: 700;
  font-size: 1.35rem;
}
.card__description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  line-height: 1.5em;
  margin-top: 0.5rem;
  font-size: 18px;
}
