/* general */
.banner {
  background-color: var(--green);
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
}
h1 {
  color: white;
}
.review__main {
  display: flex;
}
.review__left {
  flex: 2;
  background-color: red;
}
.review__right {
  flex: 1;
  background-color: blue;
}
.review--address {
  font-size: 20px;
}
.review--address span {
  font-weight: 800;
}
/* For big screen */
@media (min-width: 1025px) {
}

/* For small screen */
@media (max-width: 1024px) {
}
