/* General */
.logo {
  height: 37px;
  width: auto;
}
.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* For big screen */
@media (min-width: 1025px) {
  .smallscreen {
    display: none;
  }
  .header .bigscreen {
    padding: 0.8rem 0.5rem;
  }
  .header .bigscreen,
  .header .bigscreen ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .bigscreen ul > li {
    font-weight: 700;
    padding: 0 0.5rem;
    color: var(--lightgrey);
  }
  .header .bigscreen ul > li:hover {
    color: var(--darkgreyNav);
    cursor: pointer;
  }
  .right + button {
    border: 1px solid red;
  }
}

/* For small screen */
@media (max-width: 1024px) {
  .header .bigscreen {
    display: none;
  }
  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0.5rem;
  }
  .fa-bars,
  .fa-xmark {
    font-size: 24px;
    color: var(--lightgrey);
  }
  .fa-magnifying-glass {
    font-size: 24px;
    margin-right: 12px;
  }
  /* button {
    padding: 0.25rem 0.5rem;
  } */
  .no-btn {
    background: none;
    width: 45px;
  }
}
