/* General */
.logo {
  height: 37px;
  width: auto;
}
.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* For big screen */
@media (min-width: 1350px) {
  .smallscreen {
    display: none;
  }
  .header .bigscreen {
    padding: 0.8rem 1.2rem;
  }
  .header .bigscreen,
  .header .bigscreen ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header ul > li {
    font-weight: 700;
    font-size: 20px;
    padding-left: 22px;
    color: var(--lightgrey);
  }
  .header ul > li:hover {
    color: var(--darkgreyNav);
    cursor: pointer;
  }
  .header .right {
    font-size: 30px;
  }
  .header .right > button {
    font-size: 20px;
    padding: 12px 8px;
    margin-left: 12px;
    min-width: 130px;
  }
  .header .right > button:nth-child(2) {
    background-color: white;
    border: 1px solid var(--violet);
  }
  /* Profile button when activated */

  .profile-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 22px;
    margin-left: 15px;
  }
  .profile-btn img {
    width: 40px;
    border: 1px solid var(--lightgrey);
    border-radius: 25px;
    padding: 3px;
    margin-right: 12px;
  }
  .profile-btn > .icon {
    padding-left: 10px;
    font-size: 18px;
  }
}

/* For small screen */
@media (max-width: 1350px) {
  .header .bigscreen {
    display: none;
  }
  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
  }
  .fa-bars,
  .fa-xmark {
    font-size: 24px;
    color: var(--lightgrey);
  }
  .no-btn {
    background: none;
    width: 45px;
  }
  .header .right {
    font-size: 30px;
  }
  .header .right > button {
    font-size: 20px;
    padding: 12px 8px;
    margin-left: 20px;
    min-width: 130px;
  }
  .profile-menu img {
    width: 40px;
    border: 1px solid var(--lightgrey);
    border-radius: 25px;
    padding: 3px;
    margin-left: 12px;
  }
}
